p {
    text-align: justify;
    line-height: 120%;
    text-indent: 1em;
}


.title1,
.title2,
.title3,
.title4,
.title5,
.title6,
subtitle {
    width: 80%;
    margin: auto;
    display: block;
    font-weight: bold;
}

.title1 > p,
.title2 > p,
.title3 > p,
.title4 > p,
.title5 > p,
.title6 > p,
subtitle {
    text-indent: 0;
    text-align: center;
    line-height: 100%;
}

.title1 {
    font-size: 180%;
}
.title2 {
    font-size: 160%;
}
.title3 {
    font-size: 140%;
}
.title4 {
    font-size: 130%;
}
.title5 {
    font-size: 120%;
}
.title6 {
    font-size: 110%;
}


sub {
    vertical-align: sub;
    font-size: 70%;
}

sup {
    vertical-align: super;
    font-size: 70%;
}

b {
    font-weight: bold;
}

i {
    font-style: italic;
}

a {
    text-decoration: underline;
}

empty-line {
    height: 1em;
    margin: 0px;
}


d
.epigraph {
    display: block;
    width: 70%;
    margin-left: 30%;
}

.text-author {
    text-align: right;
}


.cite {
    display: block;
    width: 80%;
    margin: auto;
}

.cite > p {
    text-align: left;
}


.poem {
    display: block;
    width: 80%;
    margin: auto;
}

.stanza {
    display: block;
    margin-top: 12%;
    margin-bottom: 12%;
}

.v {
    text-indent: 0;
    text-align: center;
}


.reference {
    line-height: 0.1;
    font-size: 70%;
    vertical-align: super;
}

img {
    max-width: 95%;
}
